.newButton-unclicked{
  background-color: #e7746f;
  border-color: #e7746f;
  border-radius: 4px;
  font-size: 1em;
  font-weight: 700;
  color: white;
  padding: 4px 10px 4px 10px;
}
.newButton-clicked{
  background-color: #4c5c97;
  border-color: #4c5c97;
  border-radius: 4px;
  font-size: 1em;
  font-weight: 700;
  color: white;
  padding: 4px 10px 4px 10px;
}